body{
    background: url("../img/login_background.jpg") no-repeat 0% 87% fixed;
    background-size: cover;
    text-align: center;
}
.Login h1{
    color: white;
    letter-spacing: 6px;
    font-weight: 400;
}
.footer{
    color: white;
    font-size:0.9em;
}
.form{
   
    height:200px;
    
    opacity: 0.5;
    text-align: center;
}
.footer p a{
    color: #d20962;
}