.upper {
    background: url("../img/student_website.jpg") no-repeat 0% 87% fixed;
    background-size:cover;
    height:70%;
    position:relative;
}
.Header{
    position: absolute;
}
.Header h1{
    letter-spacing: 3px;
    text-shadow: black;
    font-weight: 400;
    padding-left: 15px;
}
#text_slide{
    position: absolute;
    left:30px;
    bottom:160px;
    color:#FD7208;
    font-size: 50px;
    font-weight: 400;
    font-style: italic;
    overflow: hidden;

}
#content{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;

}
#content h1{
    letter-spacing: 2px;
    font-family:'Times New Roman', Times, serif;
}
#content p{
    font-style: italic;
}