<!DOCTYPE html>
<html>
<head>
	<title>Added Mentee</title>
</head>
<body>
	<h1> Mentee <%=student_id%> Added Sucessfully in your list... </h1>
	<button id="btn">Press to Go back </button>
	<script type="text/javascript">
		
	</script>
</body>
</html>