<DOCTYPE html>
	<html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link href="css/bootstrap.css" rel="stylesheet" media="all">
        </head>
        <body>
                <div class="container">
                        <h1>Edit Profile</h1>
                          <hr>
                        <div class="row">
                          <!-- left column -->
                          <div class="col-md-3">
                            <div class="text-center">
                              <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                              <h6>Upload a different photo...</h6>
                              
                              <input type="file" class="form-control">
                            </div>
                          </div>
                          
                          <!-- edit form column -->
                          <div class="col-md-9 personal-info">
                            <div class="alert alert-info alert-dismissable">
                              <a class="panel-close close" data-dismiss="alert">×</a> 
                              <i class="fa fa-coffee"></i>
                              Welcome <strong>></strong>.Once Completed click on Save Button
                            </div>
                            <h3>Personal info</h3>
                            
                            <form class="form-horizontal" role="form">
                              <div class="form-group">
                                <label class="col-lg-3 control-label">Roll No:</label>
                                <div class="col-lg-8">
                                  <input class="form-control" type="text" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-lg-3 control-label">Last name:</label>
                                <div class="col-lg-8">
                                  <input class="form-control" type="text" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                  <input class="form-control" type="text" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Username:</label>
                                <div class="col-md-8">
                                  <input class="form-control" type="text" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Password:</label>
                                <div class="col-md-8">
                                  <input class="form-control" id="pass1"type="password" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Confirm password:</label>
                                <div class="col-md-8">
                                  <input class="form-control" id="pass2"type="password" value="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-8">
                                  <input type="button" class="btn btn-primary submit" value="Save Changes">
                                  <span></span>
                                  <input type="reset" class="btn btn-default" value="Cancel">
                                </div>
                              </div>
                            </form>
                          </div>
                      </div>
                    </div>
                <hr>
    </body>
    <script type="text/javascript">
        $(".submit").click(function(){
       if($("#pass1").val()==$("#pass2"))
       {

       }
       else
       alert("password Don't Match");
    });
    </script>
<html>