<DOCTYPE html>
<html>
  <head>
          <link href="css/website.css" rel="stylesheet" media="all">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="js/forgot.js"></script>
  </head>
  <body>
    <div id="form_container">
      <form action='/rp' method="post" id="forgot">
        <input type="text" id="rollnumber" name="student_id" placeholder="ID(Roll Number)" required/>
        <input type="text" id="name" placeholder="Name" required/>
        <input type="submit" id="gggg" onclick="myFunction()" value="Recover Password">
      </form>
    </div>
    <div id="link_container">
      <a href="#" id="forgot">Forgot your <strong>Password?</strong><span class="icn">➥</span></a>
      <a href="/" id="back">Back to login<span class="icn">➥</span></a>
    </div>
  </body> 
</html>