<DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="css/website.css" rel="stylesheet" media="all">
            <link href="css/bootstrap.css" rel="stylesheet" media="all">
            <script src="js/forgot.js"></script>
        </head>
        <body>

                <div id="container">                           
                        <div class="sidebar">                             
                          <div class="image">  
                            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/13925229_10205028027660516_4595319040701208597_n.jpg?oh=b61eb45bb5fa0a7572f3e9800a459e64&oe=58476EC7"/>                               
                          </div>
                          <div class="bio">                                
                            <h2>Sunil Sir</h2>                               
                            <p>Network Programming Lab, Software Architecture, Software Engineering, Object Oriented Software Engineering, Object Oriented Programming Methodology, NTAL, Placement Computer Department, NATL, Web Technology Lab, Web Technology, MSC-IT Mobile Computing and Programming with Components</p>                               
                          </div>                             
                          <div class="links">                               
                            <ul>                                 
                              <li>    
                                <a href="http://gyan.fragnel.edu.in:2222/moodle/">Moddle</a>                                 
                              </li>                                
                              <li>                         
                                <a href="https://gmail.com">Email</a>                                    
                              </li>
                              <li>
                                <a href="https://devops.com/">DevOps</a>
                              </li>                                 
                              <li>                         
                                <a href="#"></a>                                   
                              </li>                          
                            </ul>                          
                          </div>                             
                          <div class="button">                               
                              <input type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" value="Send A notice to Mentees">                               
                          </div>                    
                        </div>
                                                
                        <div class="post-container">                             
                          <div class="post">                               
                            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-0/c0.45.206.206/p206x206/13631451_1626842660967489_4051031015401882285_n.jpg?oh=2c3d708fc3341c1b83eb26f63608a2eb&oe=58701F7D">                               
                            <p>A Java servlet is a Java program that extends the capabilities of a server. Although servlets can respond to any types of requests, they most commonly implement applications hosted on Web servers.[1] Such Web servlets are the Java counterpart to other dynamic Web content technologies such as PHP and ASP.NET.</p>       
                          </div>
                          <div class="post-container">                             
                              <div class="post">
                              </div>
                          </div>

                      
                        </div>
                        
                        
                      </div>
                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog ">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Send a notice </h4>
                        </div>
                        <div class="modal-body">
                
                          <textarea class="form-control" style="min-width: 100%"></textarea> </textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Send" id="submit" name="submit" class="btn btn-primary">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                      </div>
                        </div>
                   </div> 
                   <div class="Header">
                      <h1>Welcome <%= username %></h1>
                  </div>
                      
        </body>
    </html>
<div class="Header">
    <h1>Welcome <%= username %></h1>
</div>