<DOCTYPE html>
        <html>
            <head>
                <link href="css/mentor.css" rel="stylesheet" media="all">
                <link href="css/bootstrap.css" rel="stylesheet" media="all">
                <script src="js/forgot.js"></script>
            </head>
            <body>
                    <div class="login-page">
                            <div class="form">
                                    <form action="/lmen" method="post">
                                            <input type="text" placeholder="Name"  name="mentor_id" class="username" required>
                                            <br>
                                            <input type="password" placeholder="Password" name="password" class="Password" required>
                                            <br>
                                            <input type="submit" class="submit" value="Login">
                                    </form>
                            </div>
                    </div>
            </body>
</html>