
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>instructor mock 2</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="css/newmentor.css" rel="stylesheet" media="all">
</head>

<body>
<div class="wrap">
<div id="teachergallery">

<h1>Sunil Sir</h1>
<h2>Assitant Professor </h2> 


<div class="bio">
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.<br>

Network Programming Lab, Software Architecture, Software Engineering, Object Oriented Software Engineering, Object Oriented Programming Methodology, NTAL, Placement Computer Department, NATL, Web Technology Lab, Web Technology, MSC-IT Mobile Computing and Programming with Components<br>

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. </p>
</div>
<div class="navi">
  <ul>
        <li id="n-classes"><a target="_blank" href="">classes</a></li>
        <li id="n-program"><a target="_blank" href="http://gyan.fragnel.edu.in:2222/moodle/course/index.php?categoryid=38">program</a></li>
        <li id="n-ml"><a target="_blank" href="">materials lists</a></li>
        <li id="n-co"><a target="_blank" href="http://gyan.fragnel.edu.in:2222/moodle/login/index.php">course outlines</a></li>
        <li id="n-website"><a target="_blank" href="http://gyan.fragnel.edu.in:2222/moodle/course/view.php?id=295">instructor's website</a></li>
</ul>
</div>
<div class="mentee">
	<h1>Mentees Under You<h1>
	<div id="scrollbarsContainer">
	<ul>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  <li><a href="">Test</a></li>
  </ul>
</div>
</div>
 <div class="button">                               
           <input type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" value="Send A notice to Mentees">                               
    </div>

</div>




<div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog ">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Send a notice </h4>
                        </div>
                        <div class="modal-body">
                          To<input class="form-control" type="text" placeholder="rollnumber">
                          <br>
                          <textarea class="form-control" style="min-width: 100%" placeholder="message"></textarea> </textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Send" id="submit" name="submit" class="btn btn-primary">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                      </div>
                        </div>
                   </div> 
</body>
</html>