<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="css/unusual menu.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/unusual menu.js"></script>
<style>
body { background-color:#fafafa; font-family:'Roboto';}
h1 { margin:150px auto 30px auto; text-align:center;}
</style>
</head>
<body>
<div class="jquery-script-clear"></div>
<nav>
  <ul>
    <li> <a href="#"><span>Mentees</span></a>
      <ul class="hidden">
        <%for(var i=0;i<8;i++){%>
        <li><a href="#"><span><%=7655+i%></span></a></li>
        <%}%>
      </ul>
    </li>
  </ul>
</nav>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
