<DOCTYPE html>
        <html>
            <head>
                <link href="css/website.css" rel="stylesheet" media="all">
                <link href="css/bootstrap.css" rel="stylesheet" media="all">
                <script src="js/forgot.js"></script>
            </head>
            <body>
                    <div id="container">                           
                            <div class="sidebar">                             
                              <div class="image">                                 
                              </div>
                              <div class="bio">                                
                                <h2>Sunil Sir</h2>                               
                                <p>Network Programming Lab, Software Architecture, Software Engineering, Object Oriented Software Engineering, Object Oriented Programming Methodology, NTAL, Placement Computer Department, NATL, Web Technology Lab, Web Technology, MSC-IT Mobile Computing and Programming with Components</p>                               
                              </div>                             
                              <div class="links">                               
                                <ul>                                 
                                  <li>    
                                    <a href="http://gyan.fragnel.edu.in:2222/moodle/">Moddle</a>                                 
                                  </li>                                
                                  <li>                         
                                    <a href="https://gmail.com">Email</a>                                    
                                  </li>
                                  <li>
                                    <a href="https://devops.com/">DevOps</a>
                                  </li>                                 
                                  <li>                         
                                    <a href="#"></a>                                   
                                  </li>                          
                                </ul>                          
                              </div>                              
                              <div class="button">                               
                                <input type="button" value="Send A notice to Mentees">                               
                              </div>                   
                            </div>                           
                            <div class="post-container">                             
                              <div class="post">                                                              
                                <p>A Java servlet is a Java program that extends the capabilities of a server. Although servlets can respond to any types of requests, they most commonly implement applications hosted on Web servers.[1] Such Web servlets are the Java counterpart to other dynamic Web content technologies such as PHP and ASP.NET.</p>       
                              </div>
                              

                          
                            </div>
                            
                          </div>
                          <div class="modal fade" id="modelWindow" role="dialog">
                                <div class="modal-dialog modal-sm vertical-align-center">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Heading</h4>
                                    </div>
                                    <div class="modal-body">
                                        Body text here
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                    <div class="Header">
                        <h1>Welcome <%= username %></h1>
                    </div>
            </body>
</html>