<!Doctype html>
<html>
<head>
<title>Success</title>
<link rel="stylesheet" href="css/successfull.css" media="all">
</head>
<body>
	<h1> Registration SuccessFull!!!</h1>
	<img src="img/dribble.gif">
	</body>
</html>
	
