<DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="css/website.css" rel="stylesheet" media="all">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="js/signup.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link href="css/bootstrap.css" rel="stylesheet" media="all">
        </head>
        <body>
            <div class="upper">
                <div class="Header">
                    <h1>Welcome <%= username %> </h1>
                </div>
                <div id="text_slide">
				</div>
				<div id=logout>
						<button type="button" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-log-out logout"></span> Log out
							  </button>
				</div>
                
			</div>
			
            <div id="content">
                   <h1>Why Mentors?</h1>
                   <br>
                   <p>Mentoring, at its core, guarantees young people that there is someone who cares about them, assures them they are not alone in dealing with day-to-day challenges, and makes them feel like they matter. Research confirms that quality mentoring relationships have powerful positive effects on young people in a variety of personal, academic, and professional situations. Ultimately, mentoring connects a young person to personal growth and development, and social and economisc opportunity. Yet one in three young people will grow up without this critical asset.</p>    
            </div>
			<div class="Question">
				<h1>Questionnaire</h1>
			</div>
	
		<div class="top-bar">
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
					<a href="campusService.html"><img  src="img/campus.jpg" class="img-responsive zoom-img" alt=""/></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
					<a href="instructionaffectiveness">	<img src="img/academic.jpg" class="img-responsive zoom-img" alt=""/>
					</a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
				<img src="img/3.jpg" class="img-responsive zoom-img" alt=""/>
			</div>
			<div class="clearfix"> </div>
		</div>
	<!--	<div class="top-bar">
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
				<img src="img/4.jpg" class="img-responsive zoom-img" alt=""/>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
				<img src="img/5.jpg" class="img-responsive zoom-img" alt=""/>
				
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 welcome-img">
				<img src="img/6.jpg" class="img-responsive zoom-img" alt=""/>
			</div>
			<div class="clearfix"> </div>
		</div> -->
		<div class="ourTeam">
				<div class="team-heading">
						<h1>Meet Our Team</h1>
					</div>
				<div class="col-sm-3 team-grid">
						<div class="flip-container">
							<div class="flipper">
								<div class="front">
									<img src="img/bhanu.jpg" alt="" />
								</div>
								<div class="back">
									<h4>Bhanu Nadar</h4>
									<p>WT</p>
									<div class="w3l-social">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-rss"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 team-grid">
							<div class="flip-container">
								<div class="flipper">
									<div class="front">
										<img src="img/kevin.jpg" alt="" />
									</div>
									<div class="back">
										<h4>Kevin Sunny</h4>
										<p>SOOAD</p>
										<div class="w3l-social">
											<ul>
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-rss"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3 team-grid">
								<div class="flip-container">
									<div class="flipper">
										<div class="front">
											<img src="img/bhanu.jpg" alt="" />
										</div>
										<div class="back">
											<h4>Bhanu Nadar</h4>
											<p>Codelabs</p>
											<div class="w3l-social">
												<ul>
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-rss"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3 team-grid">
									<div class="flip-container">
										<div class="flipper">
											<div class="front">
												<img src="img/sundar.jpg" alt="" />
											</div>
											<div class="back">
												<h4>Sundar Pichai</h4>
												<p>Bhai hai apna</p>
												<div class="w3l-social">
													<ul>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-rss"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
		</div>
		<div class="footer">
			<div class="Location">
			<div class="col-md-6 ">
				<h3>Our Location</h3>
				<p>father Agnel bandra Bandstand<br>
				7208755685/80856962<br>
			bhanu.nadar@gmail.com </p>
			<p>Copyright  © 2017 Bhanu Inc. All Rights Reserved. Made with <i class="fa fa-heart pulse"></i> by ME</p>
			</div>
			</div>
			<div class="col-md-3">
					<div class="Location">
				<h3>Our Services</h3>
				<ul class="our_Services">
					<li><a href="instructionaffectiveness">Questionnaire</a></li>
					<li><a href="campusService.html">Campus Service</a></li>
				</ul></div>
			</div>
			<div class="col-md-3">
				<div class="Location">
				<h3>Share with Love</h3>
				<ul class="footer-share">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				</ul>
				</div>
			</div>
		</div>
    </body>
</html>